---
import { string } from 'astro:schema';

interface Props {
  imgSrc: string;
  title: string;
  description: string;
  url: string;
  tag: string;
}

const { imgSrc, title, description, url, tag } = Astro.props;
---
<div class="bg-red-600 w-[350px] flex flex-col p-4 rounded-xl transition-transform duration-300 hover:scale-110 bg-gradient-to-b from-red-400 to-red-700">
    <img class="w-[320px] h-[190px] mb-2 rounded-md" src={imgSrc} alt={title}>
    <div class="w-full flex justify-between py-2">
        <h1 class="text-gray-50 text-3xl font-bold">{title}</h1>
        <a href={url}><img src="../src/assets/github.svg" alt="Github" width="35"></a>
    </div>
    <div class="w-full py-2 flex">
        <div class="bg-zinc-600 mr-2 px-2 rounded-md text-gray-50">{tag}</div>
    </div>
    <div class="w-full py-2 text-gray-50 whitespace-pre-line">{description}</div>
</div>